version: "3.8"
services: 
  backend:
    container_name: backend1
    build: ./backend
    env_file: 
      - ./backend/.env
    ports:
      - "5000:5000"

  frontend:
    container_name: frontend1
    build: ./frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
